<div class="container">
  <h2>task details</h2>
  <div class="menu">
    <a href="/tasks/<%= task.id %>/edit" class="button">Edit task</a>
    <form action="/tasks/<%= task.id %>?_method=delete" method="post">
      <button class="button" data-test="delete-button">Delete task</button>
    </form>
  </div>
  <table class="task">
    <tbody>
      <tr>
        <td>Title</td>
        <td data-test="task-title"><%= task.title %></td>
      </tr>
      <tr>
        <td>Description</td>
        <td data-test="task-description"><%= task.description %></td>
      </tr>
      <tr>
        <td>Due date</td>
        <td data-test="task-due-date"><%= task.dueDate %></td>
      </tr>
      <tr>
        <td>Done</td>
        <td data-test="task-done"><%= task.isDone %></td>
      </tr>
    </tbody>
  </table>
</div>
